<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Thunder Wiki - Tu plataforma de conocimiento compartido sobre naciones y tutoriales">
    <meta name="keywords" content="wiki, naciones, tutoriales, información, aprendizaje">
    <meta name="author" content="Thunder Wiki">
    <meta name="copyright" content="Thunder Wiki 2025">
    <meta name="robots" content="index, follow">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://thunderwiki.com/">
    <meta property="og:title" content="Thunder Wiki">
    <meta property="og:description" content="Thunder Wiki - Tu plataforma de conocimiento compartido sobre naciones y tutoriales">
    <meta property="og:image" content="https://thunderwiki.com/assets/images/logo.png">
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://thunderwiki.com/">
    <meta property="twitter:title" content="Thunder Wiki">
    <meta property="twitter:description" content="Thunder Wiki - Tu plataforma de conocimiento compartido sobre naciones y tutoriales">
    <meta property="twitter:image" content="https://thunderwiki.com/assets/images/logo.png">
    
    <!-- Tema -->
    <meta name="theme-color" content="#2196f3">
    
    <!--? vinculacion de css y Libreiras de Iconos-->
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="../Styles/Styles.css">
    <title>Thunder Wiki</title>
  </head>
  <body>
    <header>
      <nav>
        <img src="/assets/Components/Img/WT_Icon.png" alt="War Thunder">
        <h1>Thunder Wiki</h1>
        <ul class="navegacion">
          <li class="links"><a href="#"><i class="fa-solid fa-house-chimney"></i> Inicio</a></li>
          <li class="links"><a href="#"><i class="fa-solid fa-users"></i> Muro</a></li>
          <li class="links"><a href="#"><i class="fa-solid fa-newspaper"></i> Noticias</a></li>
          <li class="links"><a href="#"><i class="fa-solid fa-info"></i> Informacion</a></li>
          <li class="links"><a href="#"><i class="fa-solid fa-book"></i> Tutoriales </a></li>
          <li class="links"><a href="#"><i class="fa-solid fa-globe"></i> Naciones</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
